{% extends 'base.html' %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>About Me</li>
        </ol>
        <h2>About Me</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
           <a href="https://drive.google.com/file/d/1zMzgm0WodisvXpxUMWNGQbCo0g5pfHX7/view?usp=sharing">Download/view Resume(G-Drive)</a> 
        </p>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}