{% extends 'base.html' %}
{% load static %}
{% block content %}





<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Hi there, I'm Abhijit ;)</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Welcome to my Portfolio Website!</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#about"
                            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Let's Get Started</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="{% static 'img/hero-img.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>About me</h3>
                        <h2>I'M A WEB DEVELOPER AND A PROGRAMMER LIVING IN BENGALURU, KARNATAKA, INDIA. </br>I MAKE WEB
                            APPLICATIONS MOSTLY USING DJANGO</h2>
                        <p>
                            With my knowledge of Django MVT Architecture and ORM Feature, as well as implementing
                            various database systems(MySQL, SQLite, PostgreSQL, etc.), I have hosted these projects on
                            various cloud hosting services like AWS, Heroku and Hostinger.
                        </p>
                        <div class="text-center text-lg-start">
                            <a href="{% url 'about' %}"
                                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Read More</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                            <a href="#works"
                                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Check out my works</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{% static 'img/dj.png' %}" class="img-fluid" alt="">
                </div>

            </div>
        </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>My Values</h2>
                <p>"Values can't just be words on a page.To be effective, they must shape action"</p>
                <h3> - Jeffrey R. Immelt</h3>
            </header>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="{% static 'img/values-3.png' %}" class="img-fluid" alt="">
                        <h3>On Time</h3>
                        <p>Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <img src="{% static 'img/values-2.png' %}" class="img-fluid" alt="">
                        <h3>Code Etiquette</h3>
                        <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box">
                        <img src="{% static 'img/values-1.png' %}" class="img-fluid" alt="">
                        <h3>Flexible</h3>
                        <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Projects</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-headset" style="color: #15be56;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="1700" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Hours Of Support</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-people" style="color: #bb0852;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Hard Worker</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    

    <!-- ======= works Section ======= -->
    {% if projects %}
        <section id="works" class="services">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>My Works</h2>
                    <p>Most are on Github, some are deployed and running </p>
                </header>

                <div class="row gy-4">
                    {% for project in projects %}
                            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                {% for item in color %}
                                    {% if forloop.counter0 == project.color_id|add:'-1' %}
                                        <div class="service-box {{item}}">
                                    {% endif %}
                                {% endfor %}
                                            <i class="ri-discuss-line icon"></i>
                                            <h3>{{project.name}}</h3>
                                            <p>{{project.description|truncatechars:50}}</p>
                                            <a href="{% url 'project' project.id %}" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                                        </div>
                            </div>
                    {% endfor %}

                    <a href="{% url 'projects' %}"
                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                    <span>Check out my other works</span>
                    <i class="bi bi-arrow-right"></i>
                    </a>

                </div>
                

            </div>


        </section><!-- End Services Section -->
    {% endif %}

    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Testimonials</h2>
                <p>Let's hear what they said ;)</p>
            </header>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
                <div class="swiper-wrapper">
                    {% if testimonials %}
                        {% for testimonial in testimonials %}
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="stars">
                                        {% if testimonial.rating == 1 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif testimonial.rating == 2 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif testimonial.rating == 3 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif testimonial.rating == 4 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif testimonial.rating == 5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        {% endif %}
                                    </div>
                                    <p>
                                       {{testimonial.message}}
                                    </p>
                                    <div class="profile mt-auto">
                                        <img src="{{ testimonial.image_profile.url }}" class="testimonial-img" alt="">
                                        <h3>{{testimonial.name}}</h3>
                                        <h4>{{testimonial.designation}}</h4>
                                        <h4>{{testimonial.created}}</h4>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section><!-- End Testimonials Section -->

    

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Blog</h2>
                <p>Recent posts</p>
            </header>

            <div class="row">
                {% if blogs %}
                    {% for blog in blogs %}
                        <div class="col-lg-4">
                            <div class="post-box">
                                <div class="post-img"><img src="{{blog.photo_1.url}}" class="img-fluid" alt=""></div>
                                <span class="post-date">{{blog.updated}}</span>
                                <h3 class="post-title">{{blog.title}}
                                </h3>
                                <a href="{% url 'blog' blog.id %}" class="readmore stretched-link mt-auto"><span>Read More</span><i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <a href="{% url 'blogs' %}"
                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Go to Blog Page</span>
                <i class="bi bi-arrow-right"></i>
                </a>
            </div>

        </div>

    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Contact</h2>
                <p>Reach me</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-6">

                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Address</h3>
                                <p>Sri Srinivasa PG, Ngr Layour<br>Roopena Agrahara, Bommanahalli<br>Bengaluru, Karnataka 560068</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-telephone"></i>
                                <h3>Call Me</h3>
                                <p>+91 833 507 6174<br>+91 974 957 4031</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-envelope"></i>
                                <h3>Email Me</h3>
                                <p>abhijitongit@gmail.com<br>aogit.simmifoundation@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-clock"></i>
                                <h3>Open Hours</h3>
                                <p>Monday - Saturday<br>9:00AM - 9:00PM</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" class="php-email-form">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                    required></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>

    </section><!-- End Contact Section -->

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>



</html>
{% endblock %}