{% extends 'base.html' %}
{% block content %}
<h1>Routine</h1>
<h3>6-7 </br></br> ----  Workout</h3>
<h3>7-8 </br></br> ----  **Breakfast**</h3>
<h3>8-9 </br></br> ----  Self Skill ++</h3>
<h3>9-10 </br>----  Self Skill ++</h3>
<h3>10-11----  Aptitude + Puzzles</h3>
<h3>11-12----  DS</h3>
<h3>12-1 </br>----  Algo</h3>
<h3>1-2 </br></br> ----  **Lunch**</h3>
<h3>2-3 </br></br> ----  Internship</h3>
<h3>3-4 </br></br> ----  Internship</h3>
<h3>4-5 </br></br> ----  Internship</h3>
<h3>5-6 </br></br> ----  **Break**</h3>
<h3>6-7 </br></br> ----  Self Skill ++</h3>
<h3>7-8 </br></br> ----  Self Skill ++</h3>
<h3>8-9 </br></br> ----  Self Skill ++</h3>
<h3>9-10 </br>----  **Dinner**</h3>
<h3>10-11----  Applications/Mailing</h3>
<h3>11-12----  Review</h3>
{% endblock %}